* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

body {
    background: #ffffff;
    font-family: "Muli";
}

#simArea {
    text-align: center;
    width: 100%;
    background: #a5baff;
    font-size: 32pt;
    padding: 10px;

    .header {
        font-family: 'Montserrat';
        padding: 20px;
        .link {
            color: black;
        }
        
        #helpbtn {
            position: absolute;
            top: 10px;
            right: 20px;
        }

        #githubbtn {
            position: absolute;
            top: 10px;
            right: 80px;
        }

        #inbtn {
            position: absolute;
            top: 10px;
            right: 140px;
        }

        #websitebtn {
            position: absolute;
            top: 10px;
            right: 200px;
        }
    }

    #orbit {
        background: white;
        width: 80%;
        height: 75%;
    }
}

.modal {
    display: none;
    position: fixed;
    width: 80%;
    max-width: 1000px;
    left: 0;
    right: 0;
    margin: 0 auto;
    padding: 20px;
    top: 200px;
    border-radius: 20px;
    background: white;

    .close-modal 
    {
        font-size: 18pt;
        line-height: 18pt;
    }

    .display-topright 
    {
        position: absolute;
        right: 30px;
        top: 20px;
    }
}

.fullwidth {
    min-width: 100%;
}

.fullheight {
    min-height: 100%;
}

.sliders {
    width: 100%;
    background: #ffaacf;
    text-align: center;
    padding: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    .slider-container {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
        width: 80%;
        padding: 20px;

        .slider {
            width: 80%;
            height: 5px;
        }
    }    
}

